.table-row {
    border-spacing: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 48px;
}

.table-row:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.selected {
    background: rgba(0,0,0,0.3);
}

.table-row__checkbox {
    height: 16px;
    width: 16px;
}